.choices{
    gap: 1rem;
    margin-top: 3rem;
}

.msg-container{
    margin-top: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
}


.choice:hover{
    opacity: 0.5;
}